tests/
__pycache__/
temp/
logs/
*.db
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
exports/
tools/

# 仮想環境のディレクトリ
venv/
ENV/

# Pythonのバイトコード
*.pyc

# macOSのシステムファイル
.DS_Store

# IDE関連の設定ファイル・ディレクトリ
.vscode/
.idea/

# ビルド成果物のディレクトリ
dist/
build/

# パッケージのディレクトリ
packages/

# パッケージのディレクトリ
.spec
MP4toExplainText.spec
EXE.zip
GIT.jpg
.cursor/rules/commitmessage.mdc
.cursor/rules/moduledoc.mdc
タブベースの仕様追加.md
